/* =================== basic css part strat ======================= */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');







.container {
  width: 1340px;
  margin: 0 auto;
}

img {
  width: 100%;
  max-width: 1005;
  vertical-align: middle;
}

a{
  border: none;
  text-decoration: none;
  display: inline-block;

}

ul,li{
  list-style: none;
}

/* ================basic css part end =============== */

/* ====================nav bar css part  start=================== */

#header {
  background-color: #fff;
  height: 93px;
}

.logo {
  width: 123px;
}

.items ul li a {
font-size: 16px;
font-weight: 400;
font-family: "Quicksand", sans-serif;
color: #000;
position: relative;


}

.items ul {
  display: flex;
  gap: 45px;
}

.main_row {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}

ul li a::before{
  content: '';
  width: 0;
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: all linear 0.4s;
}

ul li a:hover::before {
  width: 100%;
}

.icons {
 gap: 33px;
}

.icons button {
  border: none;
 background: transparent;
}

.icons a {
  font-size: 22px;
  color: #000;
}
/* ======================nav bar part end ===================== */


/* =================pants section start ============== */

#plants {
  position: relative;
}

.text_part h1 {
  width: 530px;
  font-size: 86px;
  font-weight: 400;
  color: #010101;
  font-family: "Belleza", sans-serif;
  padding-top: 94px;
  margin-bottom: 52px;
}

.text_part button {
  width: 178px;
  height: 55px;
  background-color: #010101;
  border-radius: 38px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  font-family: "Adamina", serif;
}

.text_part h2 {
  width: 320px;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  font-family: "Adamina", serif;
  margin-top: 89px;
  margin-bottom: 33px;
}

.text_part p {
    width: 271px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  font-family: "Adamina", serif;
  margin-bottom: 52px;
}

.textBlombarg {
  display: flex;
}

.textBlombarg h2 {
  height: 46px;
  font-size: 36;
  font-weight: 400;
  color: #000;
  font-family: "Lora", serif;

}

.plantsImg {
  position: absolute;
  top: 0;
  right: 0;
}

.plantsImg img {
  height: 766px;
}

